.cards {
  display: flex;
  justify-content: space-between; /* Verdeel de kaarten over de container */
  gap: 0.6rem; /* Ruimte tussen de kaarten */

  height: 90vh; /* Laat de kaarten zichzelf aanpassen aan de inhoud */
}

.gtk {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

  & .gtk__title {
    font-size: 3rem;
    font-family: "Helvetica-neue";
  }
}
